<div class="side">
    <ul>
        <li>
            <a href="#"><i class="fas fa-book"></i></a>
        </li>
        <li>
            <a href="#"><i class="fas fa-search"></i></a>
        </li>
        <li>
            <a href="#"><i class="fas fa-history"></i></a>
        </li>
    </ul>
</div>