<div class="menu-main">
    <div class="menu-avator">
        <a href="<%- url_for(theme.menu.Home)%>">
            <img src="<%- url_for(theme.avator)%>">
            <span class="menu-avator-name"><%- theme.authors%></span>
        </a>
    </div>
</div>